[Unit]
Description=tracing-proxy OpsRamp Trace-Aware Sampling Proxy
After=network.target

[Service]
ExecStart=/usr/bin/tracing-proxy -c /etc/tracing-proxy/tracing-proxy.toml -r /etc/tracing-proxy/rules.toml
KillMode=process
Restart=on-failure
User=opsramp
Group=opsramp
LimitNOFILE=infinity

[Install]
Alias=tracing-proxy tracing-proxy.service
